<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxGen" value="250000"/>
    <add key="GroupSize" value="6"/>
    <add key="MutateChance" value="5"/>
    <add key="MutateSegmentSize" value="3"/>
    <add key="ChanceForClosest" value="90"/>
  </appSettings>
</configuration>